@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F2F4F8;
}

.active {
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    top: 70px;
  }
  to {
    opacity: 1;
    top: 50px;
  }
}